body{
    background-color: black;
    color: hsl(327 100% 54%)
}
picture{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100px;
}
picture.is-small{
    width: 75px;
}
picture.is-large{
    width: 125px;
}
img{
    box-shadow: 0 0 999px #000;
    border-radius: 50%;
    width: 100%;
}
img.disabled{
    opacity: 0;
}
button{
    background-color: black;
    font-size: 4rem;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color:  hsl(317 100% 54%);
    border: currentColor 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-shadow:
    0 0 0.125em hsl(0 0% 100%/0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.25em 0 hsl(327 100% 54%), 0 0 0.25em 0 hsl(327 100% 54%);
}
span{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 70px;
}